body {
    font-family: "Helvetica Neue", "Open Sans", Arial, sans-serif;
}
em {
  font-style: normal;
  font-weight: 500;
}
.home {
  background-color: #5E6472;
}
.home-container {
  margin: auto;
  width: 80%;
  padding: 40px;
  font-weight: 300;
  color: #ececec;
}
.home-container h1 {
  font-weight: 300;
  font-size: 30px;
}
.home-container h3 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 0;
}

.container {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
}
/* ---------------------------------- TABLE ----------------------------------*/
.WordParser--table table {
  display: table;
  font-weight: 300;
  font-size: 13px;
  border-collapse: separate;
  -webkit-border-horizontal-spacing: 2px;
  -webkit-border-vertical-spacing: 2px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: solid 1px #cccccc;
}

.WordParser--table thead {
  display: table-header-group;
  vertical-align: middle;
}

.WordParser--table tr {
  display: table-row;
  vertical-align: inherit;
  border-bottom: 1px solid #cccccc;
}

.WordParser--table tr:nth-child(odd){
    background-color: #f9f9f9;
}
.WordParser--table tr:nth-child(even){
    background-color: #ececec;
}

.WordParser--table table thead tr th {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  padding: 10px;
  background-color: #53DFC3;
}

.WordParser--table td {
    padding: 10px;
}

