{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home | wordparser</title>
    <link href="{% static '/wordparser/stylesheet.css' %}" rel="stylesheet">
</head>
<body class="home">
<section>
    <div class="home-container">
        <h1>Richard Hartley</h1>
        <h3>Eigen Back-end Coding Test</h3>
        <p>Scan six documents containing text and produce a list of the
            most frequent interesting words, along with a summary table showing
            where those words appear (sentences and documents).</p><br>
        <p><a style="color: #FAF3DD;" href="{% url 'results' %}">View results</a></p>
    </div>
</section>
</body>
</html>