{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>results | wordparser</title>
    <link href="{% static '/wordparser/stylesheet.css' %}" rel="stylesheet">
</head>
<body>
<section>
    <div class="container">
        <h4 style="font-weight: 400;">Displaying {{ results|length }} results</h4>
        <div class="WordParser--table">
            <table>
                <thead>
                    <tr>
                        <th>Stemmed Word</th>
                        <th>Documents</th>
                        <th>References</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in results %}
                    <tr>
                        <td><em><a href="{% url 'word-detail' batch_id row.0 %}">{{ row.0 }}</a></em> ({{ row.1 }})</td>
                        <td>{% for doc in row.2 %}{{ doc }}<br>{% endfor %}</td>
                        <td>{% for sen in row.3 %}- {{ sen }}<br><br>{% endfor %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>