{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail | {{ word }}</title>
    <link href="{% static '/wordparser/stylesheet.css' %}" rel="stylesheet">
</head>
<body>
<section>
    <div class="container">
        <h4 style="font-weight: 400;">Sentences containing '{{ word }}' ({{ results.0.1 }})</h4>
        <div class="WordParser--table">
            <table>
                <thead>
                    <tr>
                        <th>'{{ word }}'</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in results %}
                    <tr>
                        <td>{% for sen in row.3 %}- {{ sen }}<br><br>{% endfor %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>